<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blog | Admin Login</title>
    <!-- AngularJS loading bar -->
    <link href="css/site.min.css" rel="stylesheet">
    <link href="css/admin.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <base href="/">
  </head>
  <body ng-controller="AppController" ng-class="{'hold-transition login-page': user == null, 'hold-transition skin-purple sidebar-mini':user != null}">
    <div class="wrapper">
        <div ng-if="user != null" admin-header></div>
        <div ng-if="user != null" admin-sidebar></div>
        <div ng-class="{'content-wrapper': user != null}" set-height>
            <div ng-bind="Message.text" ng-show="Message.type == 'error' || Message.type == 'success'" ng-class="{'alert alert-danger fade in ': Message.type == 'error', 'alert alert-success fade in ': Message.type == 'success', 'fade':Message.type == 'fade'}"></div>
            <div ng-view></div>
        </div>    
    </div>
    
    <script src="js/lib.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="js/admin-app.js"></script>
</body>
</html>
