<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Login</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/site.min.css">
        <link href="css/admin.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-class="{'hold-transition skin-purple sidebar-mini': user != null, 'hold-transition login-page': user == null}" ng-controller="AppController">
        <div class="wrapper">
            <div ng-if="user != null" admin-header></div>
            <div ng-if="user != null" admin-sidebar></div>
            <div ng-class="{'content-wrapper': user != null}" style="min-height: 600px;">
                <div ng-view></div>
            </div>    
        </div>    
    
        <!-- Javascript minified file for all bower components -->
        <script src="js/lib.min.js"></script>
        <!-- Javascript concat file for all admin app -->
        <script src="js/admin-app.js"></script>
    </body>
</html>