<!-- <table class="table table-bordered" ng-show=posts>
	<thead>
		<tr class="info">
			<th>Sr. No.</th>
			<th>Title</th>
			<th>body</th>
			<th>Date</th>
			<th>Action</th>
		</tr>	
	</thead>
	<tbody>
		<tr ng-repeat="e in posts">
			<td>{{$index + 1}}</td>
			<td>{{e.Post.title}}</td>
			<td>{{e.Post.body}}</td>
			<td>{{e.Post.created}}</td>
			<td>
				<button class="btn btn-sm btn-primary" ng-click=editPost($index)>Edit</button>
				<button class="btn btn-sm btn-danger" ng-click=deletePost($index)>Delete</button>
			</td>
		</tr>
	</tbody>
</table> -->
<!-- Blog Entries Column -->


<div class="col-md-8">
	<div class="row">
		<div ng-repeat="e in posts" class="col-sm-6 col-md-6" ng-click="viewPost($index)">
			<div class="thumbnail">
                <div class="thumb-img">
				   <img class="img-responsive" ng-src="{{ imagePath + e.Post.image}}">
                </div>
				<div class="caption">
					<h4>{{e.Post.title | words:7}}</h4>
					<p><span class="glyphicon glyphicon-time"></span> Posted {{e.Post.created}}</p>
				</div>
			</div>
		</div>
		<uib-pager ng-if="paging.count > paging.limit" items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" ng-change="pageChanged()"></uib-pager>
	</div>	
</div>
