<div class="col-md-8">
	<div class="row">
		<div ng-repeat="e in posts" class="col-sm-6 col-md-6" ng-click="viewPost($index)">
			<div class="thumbnail">
				<div class="thumb-img">
					<img class="img-responsive" ng-src="{{ e.Post.image != null ? imagePath + e.Post.image : e.Post.image_url}}">
				</div>	
				<div class="caption">
					<h4>{{e.Post.title | words:8}}</h4>
					
				</div>
				<div class="category">
					<p class="pull-right"><span class="label label-primary category-list">{{e.Category.name}}</span></p>
					<p><span class="glyphicon glyphicon-time"></span> Posted {{e.Post.created}}</p>
				</div>
			</div>
		</div>

	</div>	
	<nav class="center">
		<uib-pagination ng-if="paging.count > paging.limit" items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" ng-change="pageChanged()"></uib-pagination>
	</nav>
</div>