<!-- <section class="content-header">
	<h1>Make a new post</h1>	
</section>	 -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<!-- Horizontal Form -->
			<div class="box box-purple">
				<div class="box-header with-border">
					<h3 class="box-title">Create a New Post</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal" name="postForm" enctype="multipart/form-data" role="form" ng-submit="save()">
					<div class="box-body">
						<div class="form-group">
							<label for="inputTitle" class="col-sm-2 control-label">Title</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title" ng-model="post.title" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Image</label>

							<div class="col-sm-10">
								<input type="file" name="image" onchange="angular.element(this).scope().uploadFile(this.files)"/>
							</div>
						</div>
						<div class="form-group">
							<label for="inputDesc" class="col-sm-2 control-label">Body</label>

							<div class="col-sm-10">
								<text-angular ng-model="post.body" data-ng-required></text-angular>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-flat btn-default">Cancel</button>
						<button type="submit" class="btn btn-flat bg-purple pull-right">Create</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>	