<section class="content-header">
	<div class="row">
		<div class="col-md-6 post-list-header">
			<h1>Posts Management</h1>	
		</div>
		<div class="col-md-6">
			<a ng-href="{{admin}}/create" class="btn btn-flat bg-purple pull-right">Create Post</a>
		</div>
	</div>
</section>	
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-purple">
				<!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
						<tr ng-repeat="e in posts">
							<td>{{e.Post.title}}</td>
							<td>{{e.Post.created}}</td>
							<td><span ng-class="{'label label-success': e.Post.status == 1, 'label label-danger': e.Post.status == 0}">{{ e.Post.status == 1 ? 'Active':'In-Active' }}</span></td>
							<td>
								<div class="btn-group btn-group-sm" role="group" aria-label="...">
									<button type="button" ng-click=editPost($index) class="btn btn-flat btn-default">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</button>
									<button type="button" ng-click=toggleStatus($index) class="btn btn-flat btn-default">
										<i class="fa fa-circle-o" aria-hidden="true"></i>
									</button>
									<button type="button" ng-click=deletePost($index) class="btn btn-flat btn-default">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<!-- /.box-body -->
				<div ng-if="paging.count > paging.limit" class="box-footer clearfix">
					<uib-pagination items-per-page="paging.limit" total-items="paging.count" ng-model="paging.page" ng-change="pageChanged()"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</section>