<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
    <form name="searchForm" method="post" ng-submit="search(searchForm.$valid)">
        <div class="well">
            <h4>Search</h4>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="post.search" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>
    </form>    

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-lg-6" ng-repeat="e in categories">
                <p class="mb5">
                    <span ng-click="viewByCategory($index)" class="label label-blog-home category-list">{{e.Category.name}} <span class="badge">{{e.Category.post_count || 0}}</span> </span> 
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>